@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    font-family: "Roboto Condensed";
    font-size: 2vw;

    width: 300px;
}

button {
    width: 308px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

a:hover {
    color: rgb(255, 125, 125);
}

a:active {
    color: rgb(194, 0, 0);
}