* {
    overflow-x: hidden;
    overflow-y: hidden;
}

.modalMain {
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, .7);

    position: absolute;
    left: 0;
    top: 0;

    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 30vw;
    height: 15vh;

    background-color: yellow;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal input[type="text"] {
    width: 45%;
    height: 50%
}

.modal input[type="submit"] {
    width: 25%;
    height: 53%;
}

.errorPage {
    width: 100vw;
    height: 100vh;

    position: absolute;
    left: 0;
    top: 0;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: red;
}